.DS_Store
zsh/cache/*
bin/fixssh
vim/bundle/*
vim/_temp/*
vim/_backup/*
npm-debug.log
zsh/history/*

# nvim stuff
config/nvim/autoload/
config/nvim/plug/
config/nvim/ftplugin

# vscode stuff
*.vscdb
config/Code/User/workplaceStorage
