[submodule "vim"]
	path = vim
	url = https://github.com/carlhuda/janus.git
[submodule "janus/vim-colors-solarized"]
	path = janus/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "janus/zencoding-vim"]
	path = janus/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "osx/iterm2-colors"]
    path = osx/iterm2-colors
    url = https://github.com/baskerville/iTerm-2-Color-Themes.git
[submodule "janus/vim-less"]
	path = janus/vim-less
	url = https://github.com/groenewege/vim-less.git
