[user]
	name = Jake Teton-Landis
	email = just.1.jake@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[core]
	excludesfile = ~/.gitignore_global
