host github
    Hostname github.com
    User git

Host armada armada.systems
    Hostname armada.systems
    User justjake

Host shields
    Hostname shields.internal
    User jitl
    Port 2222

Host shields.internal shields.aramada.systems
    User jitl
    Port 2222
