# Rescomp Hosts
Host *.rescomp.berkeley.edu *.housing.berkeley.edu
    User jitl
    IdentityFile ~/.ssh/id_rsa.wopr

Host stargate stargate.housing.berkeley.edu cardiff
    ForwardAgent yes
    ControlPath ~/.ssh/controlmasters/%r@%h:%p
    ControlMaster auto

# Bastion rescomp hosts
Host dev-* architect pythondev
    ProxyCommand ssh stargate.housing.berkeley.edu nc %h %p
    ForwardAgent yes
    DynamicForward 9001

Host pythondev
    Hostname dev-www14.rescomp.berkeley.edu

# rescomp-only settings for public hosts
Host github
    Hostname github.com
    User git
    IdentityFile ~/.ssh/id_rsa.hal

# Other hosts
Host nomcopter nomcopter.com
    Hostname nomcopter.com
    User justjake
    Port 484

